################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/RedemptionMusic.csproj.nuget.dgspec.json
